extends layout
block content
    .container
      .row
        .col-lg-12.image
          img(src='images/images.png', alt='html image')
          |                     
          h1
            a(href='/') Html 5
            |                         
            a(href='/css') CSS 3
            |                         
            a(href='/js') Java Script
            |                          
            a(href='/jq') J Query
          |                     
          p
            | CSS3 is the latest standard for CSS.
            | CSS3 is completely backwards-compatible with earlier versions of CSS.
            | This section teaches you about the new features in CSS3!
