extends layout

block content 
    .container
      .row
        .col-lg-12.image
          img(src='images/HTML5_logo_and_wordmark.svg.png', alt='html image')
          |                     
          h1
            a(href='/') Html 5
            |                         
            a(href='/css') CSS 3
            |                         
            a(href='/js') Java Script
            |                         
            a(href='/jq') J Query
          |                     
          p
            | HTML5 is a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and current version of the HTML standard.
