extends layout
block content
    .container
      .row
        .col-lg-12.image
          img(src='images/url.png', alt='html image')
          |                     
          h1
            a(href='/') Html 5
            |                         
            a(href='/css') CSS 3
            |                         
            a(href='/js') Java Script
            |                         
            a(href='/jq') J Query
          |                     
          p
            | The jQuery library makes it easy to manipulate a page of HTML after it&apos;s displayed by the browser. It also provides tools that help you listen for a user to interact with your page, tools that help you create animations in your page, and tools that let you communicate with a server without reloading the page. We&apos;ll get to those in a bit. First, let&apos;s look at some jQuery basics, and at how we can use jQuery to perform its core functionality: getting some elements and doing something with them.
