extends layout
block content
    .container
      .row
        .col-lg-12.image
          img(src='images/url.jpg', alt='html image')
          |                     
          h1
            a(href='/') Html 5
            |                         
            a(href='/css') CSS 3
            |                         
            a(href='/js') Java Script
            |                         
            a(href='/jq') J Query
          |                     
          p
            | JavaScript is a programming language commonly used in web development. It was originally developed by Netscape as a means to add dynamic and interactive elements to websites. While JavaScript is influenced by Java, the syntax is more similar to C and is based on ECMAScript, a scripting language developed by Sun Microsystems.
